
body {
    font-family: sans-serif;
    font-size: 18px;
    padding: 0; margin: 0;
}

header { 
    font-weight: normal;
    font-size: 28px;
    padding: 4px 5px 8px 5px; margin: 0;
    text-shadow: #88d 2px 2px 4px;
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px inset blue;
}
div.tracks {
    display: block;
    min-width: 100%;
}
div.tracks div.track {
    display: block;
    position: relative;
    height: 44px;
    background: #dff;
    margin-bottom: 6px;
}

div.tracks.queue div.track {
    background: #ffa;
}

div.tracks div.track .title {
    position: absolute;
    top: 4px; left: 2px;
}
div.tracks div.track .duration {
    position: absolute;
    top: 4px; right: 40px;
}
div.tracks div.track .album {
    position: absolute;
    font-size: 80%;
    bottom: 3px; left: 8px;
}
div.tracks div.track .artist {
    position: absolute;
    font-size: 80%;
    bottom: 3px; right: 40px;
}
div.tracks div.track button {
    position: absolute;
    width: 32px; height: 32px; 
    top: 6px; right: 3px;
}
div.tracks div.track span {
    display: inline;
}



div.search-box {
    border: inset 2px;
    margin-top: 46px;
    padding: 8px 0px;
    height: 36px; /* see #search-term height */
}

div#bodge {
    display: inline;
}

div.search-box input#search-term {
    border: none;
    height: 32px;
    font-size: 18px;
    position: absolute;
    margin: 0 4px; 
    background: transparent;
/*    background-image: url(/images/search.png); */
    background-position: right center;
    background-repeat: no-repeat;
    width: 100%;
}

span.filters {
/*    float: left; */
}

span.filters span.filter {
    border: 1px solid grey;
    display: inline-block;
    background-color: #FCE6C9;
    font-size: 80%;
    margin: 0 0.2em 0.2em 0;
    padding: 0.3em;
    font-weight: bold;
}
span.filters span.filter:after {
    content: "\2a2f";
    margin-left: 0.5em;
}

div.queue {
    background-color: #afa;
    position: fixed;
    bottom: 0;
    max-height: 40px;
    width: 100%;
    transition: max-height 0.5s;
}
div.queue-open {
    max-height: 90%;
    transition: max-height 0.2s;
}

div.scrolling {
    top: 55px;
    bottom: 40px;
    width: 100%;
    position: absolute;
    overflow: auto
}

audio {
    margin-top: 1em;
}

input#search-term { font-size: 14pt; }
