
body {
    font-family: sans-serif;
    font-size: 16px;
    padding: 0; margin: 0;
}

header { 
    font-weight: normal;
    font-size: 28px;
    padding: 4px 5px 8px 5px; margin: 0;
    text-shadow: #88d 2px 2px 4px;
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
/*    border-bottom: 1px inset blue; */
}
div.tracks {
    display: block;
    min-width: 100%;
}

div.tracks.queue div.track {
}
div.tracks.queue div.track.current-track {
    background-color: red;
}

.search-box {
    margin-top: 60px;
    padding: 4px 3px;
    white-space: nowrap;
    position: relative;
    width: 100%;
    
    display: inline-block;
    border: inset 1px; 
}

.search-box #btn-shuffle {
    position: absolute;
    right: 0;
}

.search-box #search-term {    
    border: none;
}

span.filters span.filter {
    border: 1px solid grey;
    display: inline-block;
    background-color: #FCE6C9;
    font-size: 80%;
    margin: 0 0.2em 0.2em 0;
    padding: 0.3em;
    font-weight: bold;
    float: left;
}
span.filters span.filter:after {
    content: "\2a2f";
    margin-left: 0.5em;
}

div.queue {
/*     background-color: #afa;*/
    position: fixed;
    bottom: 32px;
    max-height: 0px;
    width: 100%;
    transition: max-height 0.5s;
}
div.queue-open {
    background: #dde;
    max-height: 90%;
    transition: max-height 0.2s;
    overflow: auto;
}
div#transport {
    position: fixed;
    width: 100%;
    color: white;
    height: 40px;
    background: black;
    bottom: 0px;
    font-stretch: condensed;
    display: block;
    padding: 0;
}

#transport .index {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 1em;
    position: relative;
    bottom: 0.5rem;
}

#transport .index .current {
    position: relative;
    top: -0.2em;
}

#transport .index .total {
    position: relative;
    left: 0em;
    top: 0.4em;
}

#transport .title-artist {
    display: inline-block;
}

#transport .right {
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 3px;
}

#transport .title-artist {
    font-size: 90%;
}
#transport .title-artist .artist:before {
    content: " - ";
}
#transport .title-artist .album:before {
    content:"\a"; white-space: pre;
}
#transport .title-artist .album {
    font-size: 90%;
    color: yellow;
}

#transport .elapsed {
    display: inline-block;
    padding-right: 0.5rem;
}

#transport div.spinning {
    animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -webkit-animation: spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

div.scrolling {
    top: 55px;
    bottom: 40px;
    width: 100%;
    position: absolute;
    overflow: auto
}

audio {
    margin-top: 1em;
}

input#search-term { font-size: 14pt; }
