
body {
    font-family: sans-serif;
    font-size: 18px;
    padding: 0; margin: 0;
}

@media screen and (max-width: 480px) {
    /* mobile-specific layout will eventually go here */
}
header { 
    font-weight: normal;
    background-color: #ddf;
    font-size: 28px;
    padding: 4px 5px 8px 5px; margin: 0;
    text-shadow: #88d 2px 2px 4px;
    height: 30px;
    border-bottom: 1px inset blue;
    margin-bottom: 6px;
}
nav {
    font-size: 18px;
    display: inline-block;
}
nav ul {
    position: absolute;
    right: 10px;
    top: 0;
    padding-top: 0;
    margin-top: 10px;
    display: inline;
}
nav ul li {
    padding-top: 0;
    margin-top: 0;
    margin-left: 2em;
    display: inline;
}
nav ul li.selected {
    text-shadow: #ff00ff 2px 2px 4px;
}
div.tracks {
    display: block;
    min-width: 100%;
}
div.tracks div.track {
    display: block;
    position: relative;
    height: 44px;
    background: #ddd;
    margin-bottom: 6px;
}
div.tracks div.track .title {
    position: absolute;
    top: 4px; left: 2px;
}
div.tracks div.track .duration {
    position: absolute;
    top: 4px; right: 40px;
}
div.tracks div.track .album {
    position: absolute;
    font-size: 80%;
    bottom: 3px; left: 8px;
}
div.tracks div.track .artist {
    position: absolute;
    font-size: 80%;
    bottom: 3px; right: 40px;
}
div.tracks div.track button {
    position: absolute;
    width: 32px; height: 32px; 
    top: 6px; right: 3px;
}
div.tracks div.track span {
    display: inline;
}

@media screen and (min-width: 480px) {
}

h2 {
    border-style: inset;
    border-width: 1px;
    padding: 0.1em;
    color: #66a;
}

div.search-box {
    border: inset 2px;
    padding: 8px 0;
    height: 36px; /* see #search-term height */
}

div#bodge {
    display: inline;
}

div.search-box input#search-term {
    border: none;
    height: 32px;
    font-size: 18px;
    position: absolute;
    margin: 0 4px; 
    background: transparent;
/*    background-image: url(/images/search.png); */
    background-position: right center;
    background-repeat: no-repeat;
    width: 100%;
}

span.filters {
/*    float: left; */
}

span.filters span.filter {
    border: 1px solid grey;
    display: inline-block;
    background-color: #FCE6C9;
    font-size: 80%;
    margin: 0 0.2em 0.2em 0;
    padding: 0.3em;
    font-weight: bold;
}
span.filters span.filter:after {
    content: "\2a2f";
    margin-left: 0.5em;
}


footer {
    font-size: 14px;
    line-height: 110%;
    background-color: grey;
    color: white;
    padding: 0.3em 1em;
    margin: 2em 0;
    border-top-style: groove;
}
footer a {
    color: #ddf;
}
footer p {
    margin: 0 0 3px 0;
}
audio {
    margin-top: 1em;
}

input#search-term { font-size: 14pt; }
